::-webkit-scrollbar {
    width: 4px;
}

 ::-webkit-scrollbar-track {
    position: hidden;
}

 ::-webkit-scrollbar-thumb {
    background: white;
    max-height: 4px;
    border-radius: 3px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(172, 172, 172);
}

@font-face {
    font-family: Mainfont;
    src: url(font.otf);
}

@font-face {
    font-family: Secondfont;
    src: url(ZURCHUKE.ttf);
}

@font-face {
    font-family: ThirdFont;
    src: url(ckhans-fonts-helonik-regular-demo.otf);
}

@font-face {
    font-family: FourthFont;
    src: url(VengeanceRegular-E27W.otf)
}

@font-face {
    font-family: FifthFont;
    src: url(LinuxLibertineDisplay-23pl.ttf);
}

body {
    font-family: Secondfont;
    overflow-y: hidden;
}

body:hover {
    overflow-y: scroll;
}

#quote {
    font-family: FourthFont !important;
}

#tasks {
    font-family: ThirdFont !important;
    /* border: 1px solid; */
    border-color: white;
    min-height: 100px;
    max-height: 100px;
    max-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin: 3px;
    ;
}

#reference {
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: FifthFont !important;
    color: white;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: large;
}

#description {
    position: fixed;
    display: hidden;
    bottom: 0;
    left: 0;
    font-family: FourthFont;
    color: azure;
    padding-left: 1%;
    padding-right: 3%;
    font-size: small;
}

#add {
    font-family: ThirdFont;
    font-size: small;
    height: 20px;
    width: 35px;
    left: 165px;
    position: relative;
    padding-bottom: 1px;
    border: 1px solid;
    border-color: white;
    color: white;
    margin: 0%;
}

#add:hover {
    font-family: ThirdFont;
    font-size: small;
    height: 20px;
    width: 35px;
    padding-bottom: 1px;
    border: 1px solid;
    border-color: white;
    background-color: white;
    color: black;
    margin: 0%;
}