@font-face {
    font-family: Mainfont;
    src: url(font.otf);
}

@font-face {
    font-family: Secondfont;
    src: url(ZURCHUKE.ttf);
}

@font-face {
    font-family: ThirdFont;
    src: url(ckhans-fonts-helonik-regular-demo.otf);
}

@font-face {
    font-family: FourthFont;
    src: url(VengeanceRegular-E27W.otf)
}

body {
    font-family: Secondfont;
}

#quote {
    font-family: FourthFont !important;
}

#tasks {
    font-family: ThirdFont !important;
}