* {
    -webkit-font-smoothing: antialliased;
}

::-webkit-scrollbar {
    width: 4px;
}

 ::-webkit-scrollbar-track {
    position: hidden;
}

 ::-webkit-scrollbar-thumb {
    background: black;
    max-height: 4px;
    border-radius: 3px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(172, 172, 172);
}

@font-face {
    font-family: Mainfont;
    src: url(font.otf);
}

@font-face {
    font-family: Secondfont;
    src: url(ZURCHUKE.ttf);
}

@font-face {
    font-family: ThirdFont;
    src: url(ckhans-fonts-helonik-regular-demo.otf);
}

@font-face {
    font-family: FourthFont;
    src: url(VengeanceRegular-E27W.otf)
}

@font-face {
    font-family: FifthFont;
    src: url(LinuxLibertineDisplay-23pl.ttf);
}

#myModal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(100, 100, 1);
    background-color: rgba(26, 24, 24, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}


/* Modal Content */

.modal-content {
    font-family: ThirdFont;
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    border: 0px solid #888;
    width: 30%;
    height: fit-content;
    overflow-y: hidden;
    max-height: 63px;
}

.inputer {
    font-family: FourthFont;
    border: 1px solid;
    height: 20px;
    min-width: 90%;
    border-color: rgb(0, 0, 0);
}


/* .inputer:focus {
    font-family: SecondFont;
    border: 1px solid;
    border-color: black;
} */


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: Secondfont;
    overflow-y: hidden;
}

#quote {
    font-family: FourthFont !important;
}

#tasks {
    font-family: ThirdFont !important;
    /* border: 1px solid; */
    border-color: white;
    min-height: 100px;
    max-height: 100px;
    max-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin: 3px;
    ;
}

#reference {
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: FifthFont !important;
    color: white;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: large;
}

#description {
    position: fixed;
    display: hidden;
    bottom: 0;
    left: 0;
    font-family: FourthFont;
    color: azure;
    padding-left: 1%;
    padding-right: 3%;
    font-size: small;
}

#accept {
    font-family: ThirdFont;
    font-size: small;
    height: 20px;
    width: 35px;
    border: 1px solid;
    /* border-color: white;
    color: white; */
    margin: 0%;
}

#accept:hover {
    font-family: ThirdFont;
    font-size: small;
    padding-bottom: 1px;
    border: 1px solid;
    border-color: white;
    background-color: white;
    color: black;
    margin: 0%;
}

#add {
    font-family: ThirdFont;
    font-size: small;
    height: 20px;
    width: 35px;
    left: 165px;
    position: relative;
    padding-bottom: 1px;
    border: 1px solid;
    /* border-color: white;
    color: white; */
    margin: 0%;
}

#add:hover {
    font-family: ThirdFont;
    font-size: small;
    height: 20px;
    width: 35px;
    padding-bottom: 1px;
    border: 1px solid;
    border-color: white;
    background-color: white;
    color: black;
    margin: 0%;
}

#error {
    font-size: x-small !important;
    color: red;
    overflow: hidden;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    background-image: url("editor-2.1s-47px.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.form-check-input:checked+span {
    text-decoration: line-through;
}